<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/paper-dropdown/paper-dropdown.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">


<dom-module id="my-todo">
  <template>
    <style include="shared-styles">
      :host {
        display: block;        
        padding: 10px;
        --my-todo-color:white;
        color:white;
      }
      paper-input {
        width:30%;
       /* color:var(--my-todo-color); 
        color:white; */
      }
     .green {
       background: green;
     }
    </style>

    <div class="card mystyle">
      <iron-ajax
      id="getQuoteAjax"
      auto 
      url="http://127.0.0.1:3000/getFile"
      method="get"
      handle-as="json"
      last-response="{{quote}}"></iron-ajax>

      <h1>Todo List</h1>
      <blockquote>{{quote}}</blockquote>
     <div class="content">
      <paper-input label="Username" value="{{quote.name}}"  required auto-validate error-message="needs some text!"></paper-input>

      <paper-input label="email" value="{{quote.email}}" >
        <iron-icon icon="mail" slot="prefix"></iron-icon>
        <div slot="suffix">@gmail.com</div>
        <paper-icon-button slot="suffix" on-click="clearInput" icon="clear" alt="clear" title="clear">
        </paper-icon-button>
      </paper-input>
      <dom-bind>
        <template>
            <paper-dropdown label="Select an item" value="{{value}}" searchable multi>
                <template is="dom-repeat" items="{{items}}">
                    <paper-item value$="{{item.key}}">{{item.value}}</paper-item>
                </template>
            </paper-dropdown><br/>
            <strong>Seleted Item:</strong> {{value}}
        </template>
        <script>
            var domBind = document.querySelector('dom-bind');
            domBind.items = [
                {key: 'item1', value: 'First Item'},
                {key: 'item2', value: 'Second Item'},
                {key: 'item3', value: 'Third Item'},
                {key: 'item4', value: 'Fourth Item'},
                {key: 'item5', value: 'Fifth Item'},
            ];
        </script>
    </dom-bind>
    <paper-date-picker date="April 20, 2015" id="picker"></paper-date-picker> 
    <paper-button  raised class="green" on-click="getData" >Get Data</paper-button>
    <paper-button  raised class="green" on-click="submitForm" >submit</paper-button>
     </div>
    </div>

    <iron-ajax
    id="submitFormAjax"
   
    url="http://127.0.0.1:3000/saveData"
    method="post"
    handle-as="json"
    params=""
    on-response="handleResponse"
    debounce-duration="300"></iron-ajax>
  </template>

  <script>
    class Todo extends Polymer.Element {
      static get is() { return 'my-todo'; }

      static get properties() {
        return {
          data : {
            type:String,
            value:"",
          },
          userName:{
            type:String,
            value:""
          },
          quote :{
            type:Object,
            value:{ }
          },
          outputObj :{
            type:Object,
            value:{ }
          },
          ajaxResp : {
            type:Object,
            value: {}
          }
        }
      } 
     
      clearInput() {
        console.log("coming");
        this.data = '';
      }

      getData() {
         
  let request =  this.$.getQuoteAjax.generateRequest();
request.completes.then(function(res) {
  console.log("out ---------------------",res.response);
  }, function(rejected) {
    // failed request, argument is an object
    let req = rejected.request;
    let error = rejected.error;
    
  })
      
  }
      submitForm() {       
        console.log("quote " ,this.quote);      
        var ajax = this.$.submitFormAjax;
          ajax.params = this.quote;
          ajax.url = "http://127.0.0.1:3000/saveData";
          ajax.generateRequest();
        };
        handleResponse(event, req){
          console.log(req.response);
      }
   
    }

    window.customElements.define(Todo.is, Todo);
  </script>
</dom-module>
